<div class="page-section">
  <div class="page-section__header">
    <p-button
      label="Volver"
      [routerLink]="['/admin/categorias-productos/categoria', idCategoria, nombreCategoria]"
    ></p-button>
    <span class="page-section__header-title">
      Subcategoría: <span class="text-primary">{{ nombreSubcategoria }}</span>
    </span>
  </div>

  <p-divider type="solid" />

  <div class="flex flex-row gap-2 px-10">
    <input type="text" placeholder="Buscar productos de la categoria" pInputText fluid />
    <p-button
      styleClass="h-auto w-40"
      label="Crear producto"
      (click)="showModalProducto = true"
    ></p-button>
    <app-modal
      [visible]="showModalProducto"
      (visibleChange)="showModalProducto = $event"
      header="Crear Producto"
    >
      <app-crear-producto-form
        (guardar)="crearProducto($event)"
        (cancelar)="showModalProducto = false"
      ></app-crear-producto-form>
    </app-modal>

    <app-modal
      [visible]="showModalEditar"
      (visibleChange)="showModalEditar = $event"
      header="Editar Producto"
    >
      <app-crear-producto-form
        [productoEditar]="productoSeleccionado"
        (guardar)="actualizarProducto($event)"
        (cancelar)="showModalEditar = false; productoSeleccionado = null"
      ></app-crear-producto-form>
    </app-modal>
  </div>

  <div class="px-10">
    <!--- CRUD PRODUCTOS --->
    <div *ngIf="isLoadingProductos" class="py-4">
      <p>Cargando productos...</p>
    </div>

    <app-table
      *ngIf="!isLoadingProductos"
      [columns]="[
        { field: 'product_name', header: 'Producto' },
        { field: 'product_stock', header: 'Stock' },
        { field: 'product_price', header: 'Precio' },
        { field: 'acciones', header: 'Acciones' }
      ]"
      [data]="productos"
      (edit)="editarProducto($event)"
      (delete)="eliminarProducto($event)"
    >
    </app-table>
  </div>
</div>
