@reference "tailwindcss";

.sidebar-container {
  @apply bg-black text-white;
  @apply h-screen w-60;
  @apply p-4;
}

.sidebar-link {
  @apply block;
  @apply w-full px-4 py-3;
  @apply rounded-lg;
  @apply text-white;
  @apply transition-colors duration-200 ease-in-out;

  @apply hover:bg-white hover:text-black;
}

.active-link {
  @apply bg-white text-black font-semibold;
}
