@reference "tailwindcss";
.sidebar-link {
  @apply block w-full px-4 py-3 rounded-lg text-black transition-colors duration-200 ease-in-out hover:bg-gray-200;
}

.active-link {
  @apply bg-white text-black font-semibold;
}
